<% if line_item == @current_item %>
<tr id="<%= dom_id line_item %>" class="line-item-highlight">
<% else %>
<tr id="<%= dom_id line_item %>">
<% end %>
  <td><%= line_item.product.title %></td>
  <td><%= line_item.quantity %></td>
  <td><%= number_to_currency(line_item.total_price) %></td>
</tr>
