<!DOCTYPE html>
<html>
  <head>
    <title>MinimalStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-bs-theme="dark">
    <%= render "shared/navbar" %>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="col-12 col-md-3">
        <%= render partial: 'layouts/cart', locals: { cart: @cart } %>
      </div>
      <div class="col-12 col-md-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
